<h3>Bonjour {{ compte.fullnameclient.nomu }}{{ ' ' }}{{ compte.fullnameclient.prenomu }} ,</h3>
<p>Nous sommes heureux de vous avoir parmi nous. Votre compte bancaire sur Bankiz a bien été activé avec succès.</p>
<p>Nous espérons que nos fonctionnalités améliorerons votre gestion financière.</p>
<p>Cordialement,  </p>
<p>L'équipe Bankiz </p>
<p style="font-style: italic; color: #ffc650">Investissez, Adoptez, Bankizez !</p>
